<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">
      <i class="bi bi-kanban"></i> TaskFlow
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if(isAuth){ %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="bi bi-box-arrow-right"></i> Logout
            </a>
          </li>
        <% }else{ %>
          <li class="nav-item">
            <a class="nav-link" href="/signin">
              <i class="bi bi-box-arrow-in-right"></i> Sign in
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
